{% extends "myevents/base.html" %}
{% load static %}
{% block title %} FAQ{% endblock %}

{% block content%}
<div class="container">	
<h1> Frequent Asked Questions </h1>
 
<hr/>
<div class="row-fluid"  >
	 <p> Q: Why some functions don't work on my browser?</p>
	 <p> A: Our site works in firefox, chrome, safari and IE9 </p>
</div>
	 <hr/>
<div class="row-fluid"  >
	 <p> Q: Which fields are required?</p>
	 <p>A: When registering the event, your email, the event name are required, as well as Date, Friends' Emails, and at least one option. 
	 Other fields would help us provide better recommendation for your event </p>
</div>
	 <hr/>
</div>

<!-- Footer
    ================================================== -->
<footer class="footer ftwraper">
<!--<p class="pull-right"><a href="#">Back to top</a></p> -->
     <p>Designed and built by <a href="http://paloalto.thlab.net/research/recommendations">The Group!</a></p>
</footer>
</div>
{% endblock%}

