{% extends "myevents/auth_base.html" %}
{% load static %}
{% block title %} Welcome to MyEvents {% endblock %}
{% block extrastyle %}
 	<!-- <link type="text/css" href="{%static "css/master.css"%}" rel="stylesheet" />  -->
 	<link type="text/css" href="{%static "css/tagit/reset.css"%}" rel="stylesheet" />
 		<!-- <link type="text/css" href="{%static "css/tagit/master.css"%}" rel="stylesheet" /> -->
 	<link type="text/css" href="{%static "css/tagit/jquery-ui.autocomplete.css"%}" rel="stylesheet" />

{% endblock %}
{% block morescript %}
  	<script src="{%static "js/jquery-ui.autocomplete.min.js"%}" type="text/javascript" charset="utf-8"></script>  
	<script src="{%static "js/tag-it.js"%}" type="text/javascript" charset="utf-8"></script>
 	<script src="{%static "js/jquery.scrollTo-min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{%static "js/jquery-ui-timepick-addon.js"%}" type="text/javascript" charset="utf-8"></script> 
	<script src="{%static "js/bootstrap-tab.js"%}" type="text/javascript" charset="utf-8"></script> 
	<script src="{%static "js/bootstrap-affix.js"%}" type="text/javascript" charset="utf-8"></script> 
	<script src="{%static "js/bootstrap-scrollspy.js"%}" type="text/javascript" charset="utf-8"></script> 
	<script src="{%static "js/d3.v2.js"%}" type="text/javascript" charset="utf-8"></script> 
	
	<script>
		//jQuery.noConflict(); // substituting $ for jQuery
		jQuery(document).ready(function(){
			$('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
		});
		jQuery(document).ready(function(){
			$('#timepicker').timepicker({});
		});
		
		jQuery(document).ready(function(){   
			jQuery("#emails").tagit({itemName: "friendEmail"});
	    });
		
		function nextTab() {
 		 	var e = $('#tab li.active').next().find('a[data-toggle="tab"]');  
 		 	
  		if(e.length > 0) 
  			e.click();  
 			
 			isLastTab();
		}

		function isLastTab() {
  			var e = $('#tab li:last').hasClass('active'); 
  			return e;
		}

		function add_friend_choice (value){
			$("#emails").tagit("createTag", value);
		}


	</script>	
	
{% endblock%}

{% block content%}
   
 <header class="jumbotron subhead">
  <div class="container">
 {% if user.is_authenticated %}  
  <h1>Welcome, {{ user.name }}. </h1>
{% else %}
  <p>Welcome, new user. Please <a href='../login/'>log in</a>.</p>
{% endif %}
</div>
</header>
    
    
<div class="container">	
     <!--<div class="navbar navbar-static" id="profile-menubar">
	<div class="navbar-inner">
	<div class="container" style="width:auto;">
    -->    <ul class="nav nav-tabs" id="menu-tab">
          <li><a href="#createNewEvent" data-toggle="tab"> Create New Event</a></li>
          <li class="active"><a href="#onGoingEvent" data-toggle="tab"> OnGoing Events</a></li>
          <li><a href="#pastEvent" data-toggle="tab"> Past Events</a></li>
          <li><a href="#myFriends" data-toggle="tab"> My Friends</a></li>
        </ul>
     <!-- </div>
      </div>
      
     </div>
 -->
     
	 <!-- createNewEvent
        ================================================== -->
       <div class="tab-content">
       <div class="tab-pane fade " id="createNewEvent">
       
          <div class="page-header">
            <h1>Create New Event</h1>
			<h3>Invite your friends, pick options and reach an agreement of what to do.</h3>
			<form class="well form-inline" name="indexForm" action = '/myevents/createEvent/' method = "post" onsubmit="return validateEmail();">
				{%csrf_token%}
            	 <label class="control-label" for="inputIcon">Event Name</label>
              	<span class="add-on"><i class="icon-glass"></i></span>
              	<input lass="input-xlarge" id="event_name" name="event_name" type="text"  required>
            	<button type="submit" class="btn-primary">Start</button>
  			</form>
         </div>
          
           </div>
         
        <!-- onGoingEvent
        ================================================== -->
        <div class="tab-pane fade in active" id="onGoingEvent">
          <div class="page-header">
          {%if events_to_organize%}
          <h2> Created but not yet started events</h2>
          <!-- 
		  <h2>Manage events you created but not yet started</h2>
             <ul>
   				{%for e in events_to_organize%}
   				<li>{{e.name}} created on {{e.pub_date}}  <a href="../{{e.ehash}}/adminDetail/">Edit</a> </li>
   				{%endfor%}             
             </ul>
             -->
             <table class="table table-hover">	
   				<tbody>
   				{%for e in events_to_organize%}
   				<tr>  <td>{{e.name}} </td> <td>on {{e.pub_date}} </td> <td> <a href="../{{e.ehash}}/adminDetail/">Edit</a></td> </tr>
   				{%endfor%}
   				</tbody>
   			 </table>
   			 
          {%endif%}
          {%if events_to_participate%}
          <h2> Active events</h2>
           
             <table class="table table-hover">
   				<tbody>
   				{%for e in events_to_participate%}
   				<tr> 
					<td>{{e.name}} </td> 
					<td>on {{e.eventTime}} {{e.eventDate}} </td> 
					<td>as {%ifequal e.inviter user.email%} admin{%else%}attender{%endifequal%}</td>
					<td> <a href="../{{e.ehash}}/{{user.uhash}}/attender/">Check</a></td> </tr>
   				{%endfor%}
   				</tbody>
   			 </table>
   			 
          {%endif%}
         </div>
         </div>
	         
        <!-- PastEvent
        ================================================== -->
         <div class="tab-pane fade" id="pastEvent">
         <div class="page-header">
			{%if events_closed%}
          	<h2>View  the summary of past events</h2>
            <table class="table table-hover">
   				<tbody>
   				{%for e in events_closed%}
   				<tr>  <td>{{e.name}} </td> <td> on {{e.eventTime}} {{e.eventDate}}</td> <td> closed on {{e.closeDate}} </td> <td> by {{e.inviter}}</td> <td> <a href="../{{e.ehash}}/{{user.uhash}}/eventSummary/">View</a></td> </tr>
   				{%endfor%}
   				</tbody>
   			 </table>
   			
          {%endif%}
         </div>
          </div>


        <!-- PastEvent
        ================================================== -->
          <div class="tab-pane fade " id="myFriends">
          <div class="page-header" id="friend_analysis">
		   {%if friends%}
          	<h2>My Friends</h2>
            <table class="table table-hover">
   				<thead>
				<tr>
				<th>Name</th>
				<th>Email</th>
				</tr>
				</thead>
				<tbody>
   				{%for f in friends%}
   				<tr>  <td>{{f.name}} </td> <td>{{f.email}} </td> </tr>
   				{%endfor%}
   				</tbody>
   			 </table>

          {%endif%}
			</div>
		</div>

	</div>
	
	
<br>
<!-- Footer
    ================================================== -->
<footer class="footer ftwraper">
<!--<p class="pull-right"><a href="#">Back to top</a></p> -->
     <p>Designed and built by <a href="http://paloalto.thlab.net/research/recommendations">The Group!</a></p>
</footer>

</div> <!-- /container -->	 
{% endblock%}

