{% extends "myevents/auth_base.html" %}
{% load static %}
{% load place_extra %}
{% block title %} Welcome {% endblock %}
 
{% block extrastyle %}
<link type="text/css" href="{%static "css/tagit/reset.css"%}" rel="stylesheet" />
<link type="text/css" href="{%static "css/tagit/jquery-ui.autocomplete.css"%}" rel="stylesheet" />
<style type="text/css">
.wordwrap{
	max-width:940px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-break: break-all;  
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}
</style>
{% endblock %}

{% block content%}
	<!--hidden variables-->
	<p id='ehash' style="display:none;">{{event.ehash}}</p>
	<p id='uhash' style="display:none;">{{uhash}}</p> 
	<p id='myfriends' style="display:none;"> {{ event.friends }}</p> 
	<p id='myemail' style="display:none;">{{ event.inviter }}</p>
	
	<div class="container"> 	
		{%if event.status ==  "3" %}	
			<div class="alert">
				<br>
				<h2> Greetings  &#8204; {{myname}}!</h2>
			   <strong>The event is already closed. </strong>  
			  	<h3> Wanna <a href = "../eventSummary/">Check its result?</a>  </h3>
			</div>
		{%endif%}
		{%if event.status ==  "2" %}
			<div class="row-fluid">  
		 		<h2> Greetings  &#8204; {{myname}}!</h2>
		 		{%if isadmin  %}
		 			<h3> Thanks for organizing the event &#8204;<font color='#08c'> {{event.name}} </font> </h3>
				{%else%}
					<h3> You are invited to the event &#8204;<font color='#08c'> {{event.name}} </font></h3>	
				{%endif%}
				<p>
					This event is {%if event.detail%} about <u> {{event.detail}} together </u>  {% endif %} on <u>  {{event.eventDate}}  </u> 
					{%if event.eventTime%}  <u> {{event.eventTime}}</u> {%endif%}	
				</p>
				<p class="wordwrap">with  {{event.inviter|wordwrap:80}},{{event.friends}} </p>
				<p>{% if event.location%} near <u> {{event.location}} </u> {%endif%} </p>
			</div> 
		<hr/>
	 
			<div class="row-fluid" id ="poll">
		 		<h3> Let your friends know what you think about the following options. </h3>
		 		<div class="row-fluid" id="candidates" >
					<table id="myTable" class="table table-bordered"> 
					<thead> 
					<tr> <!--<th>Option (name, location, rating, review count) </th> -->
						<th>Options</th>
		    			<th>Vote</th>  
		    			<th>Details</th> 
					</tr> 
					</thead> 
					<tbody>
					{% for choice in choices %}
						<tr> 
			    			<td id="choice_id_{{choice.id}}"> 
			    			{%if choice.url%}
			    				<a target="_blank" href="{{choice.url}}" > {{choice.name}} </a>
			    			{%else%}
			    				{{choice.name}}
			    			{%endif%}
			    			{% if choice.location %} 
			    				&#8204; {{choice.location}}
			    			{%endif%} 
			    			{%if choice.notes%}
			    				&#8204; {%if choice.image%}<img src="{{choice.image}}"> {%endif%} {{choice.notes}}
							{%endif%}
						</td> 
			    		<td> 
			 				<div class="btn-group" data-toggle="buttons-radio">
			   			{% csrf_token %}
							<button value="{{choice.id}}"  class="btn btn-success like"> <i class="icon-search icon-thumbs-up"></i>  
								<span class="pos_vote_count" id="pos_vote_count_{{choice.id}}" value="{{choice.id}}"> {{posvotes|dictKey:choice.id}} </span> Like 
							</button> 
							<button value="{{choice.id}}"  class="btn btn-danger dislike">	<i class="icon-search icon-thumbs-down"></i>  
								<span class="neg_vote_count" id="neg_vote_count_{{choice.id}}" value="{{choice.id}}">{{negvotes|dictKey:choice.id}}</span>  Dislike 
							</button>				
							</div>
						</td> 
			    		<td> 
			    			<button value="{{choice.id}}"  class="btn btn-info viewstats"><i class="icon-search icon-eye-open"></i> View </button> 	
			    			<div class="stats" id="stats_{{choice.id}}" value="{{choice.id}}">  </div>
			    		</td> 
					</tr> 
				{% endfor %}
				</tbody> 
				</table> 
			</div>
		</div> <!--end of poll--> 
		
		<!--================Add more choice====================-->
		<br/>		
		<div class="row-fluid ">
			<div class="alert alert-info">
				<p><strong>Not satisfied at all?</strong> You can <a href="../attenderAddChoice"> add more options</a>, and everybody will receive an email notification of your proposal.</p>	 			
				 
			</div>
	 	</div>	
	 	<br/>
		<!----============add comments================-->  		 
		<div class="accordion" id="comments_accordion">
			<div class="accordion-group">
		   	<div class="accordion-heading">
		      	<a class="accordion-toggle" data-toggle="collapse" data-parent="#comments_accordion" href="#comments"  id="getcomments">
		         	<span class="add-on"><i class="icon-comment"></i></span> Shout out your comments
		         </a>
		      </div>
		      <div id="comments" class="accordion-body collapse in">
		      	<div class="accordion-inner">
		         	<div id='flash'></div>
						<ul id="show_comment_list" class="nav nav-pills nav-stacked"></ul>
		 				<form class="well form-search" action="/myevents/{{event.ehash}}/{{uhash}}/writeComment/" method="post">
		 					{%csrf_token%}
							<span class="help-inline">{{myname}} says: </span>  
							<input id="acomment" type="text" name="acomment" />
							<button type="submit" class="btn" id="submitComment">OK</button>
						</form>
		         </div>
		      </div>
		   </div>
		</div>		 
		<br>

		<!--================ADmin's power====================-->
		{%if isadmin  %}
		<div class="row-fluid" id="foradmin">
			
		 	<!--=========== AND NEW PEOPLE ========-->
		 	<div class="row-fluid">
		 		<form class="well form-search" action="/myevents/{{event.ehash}}/{{uhash}}/addMoreFriends/" method="post" onsubmit="return validateAddForm();">
		 			{%csrf_token%}
					<span class="help-inline"> Invite more friends: </span>  
					<p> <ul id="moreEmails" name="moreEmails"></ul> </p>			
					<button class="btn btn-primary emailMSG" id="addMoreFriends" data-loading-text="sending extra invitations...">
					  	<i class="icon-search icon-envelope"></i> Invite
					</button> 
				</form> 			
		 	</div>		
			<!-- terminate the event ================================================== -->					
		 	<div class="row-fluid">
		 		<a class="confirm">Make a final decision and close the vote.</a> 
		 	</div>
		 	<div id="foo"></div>
		 		<div class="row-fluid">
		 			<div class="alert alert-success" id="terminationEmail" style="display:none;">
		 				<p class="emailMSG"> Ladies and Gentlemen,</h2> 
		 				<p class="emailMSG"> Thanks for your participation. We have made our decision for the event {{event.name}}.</p>  
		  				<p class="emailMSG"> We have agreed on <input type="text" id="finalChoice"/> </p>
					  	{%csrf_token%}
					  	<button class="btn btn-primary emailMSG" id="sendoutFinalResult" data-loading-text="sending emails...">
					  		<i class="icon-search icon-envelope"></i> SEND EMAIL 
					  	</button> 			 			
					</div>
		 		</div>
		 		<div class="row-fluid" id="finalMessage"></div>
		</div> 
		{% endif %}
	{% endif %}
 	 
 <br>
 <br>
	<!-- Footer================================================== -->
	<footer class="footer ftwraper">
	<!--<p class="pull-right"><a href="#">Back to top</a></p> -->
	     <p>Designed and built by <a href="http://paloalto.thlab.net/research/recommendations">The Group!</a></p>
	</footer>
	</div> <!--end of container-->	  
{% endblock %}<!--end of Block-->

{% block morescript %}
	<script type="text/javascript" src=" {%static "js/bootstrap-popover.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/bootstrap-tooltip.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/bootstrap-button.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/bootstrap-transition.js"%}"></script>
	<script type="text/javascript" src=" {%static "js/bootstrap-modal.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/jquery.bootstrap.confirm.popover.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/bootbox.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/spin.js"%}"></script> 
	<script type="text/javascript" src=" {%static "js/bootstrap-collapse.js"%}"></script>	 
	<script src="{%static "js/tag-it.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{%static "js/jquery-ui.autocomplete.min.js"%}" type="text/javascript" charset="utf-8"></script> 
	
	<script>
		$(document).ready(function(){   
			jQuery("#moreEmails").tagit();
	    });
 
	function validateAddForm()
	{
 		var friendEmails = $("#moreEmails").tagit("assignedTags").toString(); 		
 		var existingfriends = document.getElementById("myfriends").innerHTML;		
		var newfriends = friendEmails.split(',')
		var myemail = document.getElementById("myemail").innerHTML;
		console.log(myemail);
		if (friendEmails=="")
		{
			alert("You Should Invite at least one friend! Press Enter or Tab to confirm your friend input ");
			return false;
		}
		else{
			var len=newfriends.length;
			for(var i=0; i<len; i++) {
				var femail = newfriends[i];
				console.log(femail);
				if (femail.match(myemail)) {
					alert('Please do not invite yourself again....');
					return false;					
				}
				else
					if(femail.match(existingfriends))
					{	
						alert('You have already invited this person'+femail);			
						return false;	
					}
				}
			return true;
		}  
		
	}
	
		jQuery.fn.get_pos_votes = function() {
			var id=$(this).attr("value");
			//console.debug(id)
			var dataString = 'choice_id='+ id;
			$.ajax
				({
				type: "GET",
				url:  "../getPosVote/",
				data: dataString,
				cache: false,
				success: function(data)
				{
				//console.debug("pos vote="+data.cnt)
				$('#pos_vote_count_'+id).html(data.cnt);
				//$(this).html(data.cnt);
				} });
		};
		
		jQuery.fn.get_neg_votes = function() {
			var id=$(this).attr("value");
			//console.debug(id)
			var dataString = {'choice_id': id};
			$.ajax
			({
				type: "GET",
				url:  "../getNegVote/",
				data: dataString,
				cache: false,
				success: function(data)
				{
				//console.debug("neg_vote="+data.cnt)
				$('#neg_vote_count_'+id).html(data.cnt);
				//$(this).html(data.cnt);
				} 
			});
		};
		
		jQuery.fn.set_vote = function(vote) {
			var id=$(this).attr("value");
			//console.debug("id="+id);
			var dataString = {'choice_id': id,'vote':vote,csrfmiddlewaretoken:'{{csrf_token}}'}
			//console.debug(vote);
			$.ajax
			({
				type: "POST",
				url:  "../setVote/",
				data: dataString,
				cache: false,
				success: function(data)
				{    
					//console.debug(data);
					$('#pos_vote_count_'+id).get_pos_votes();
					$('#neg_vote_count_'+id).get_neg_votes();
				}
			});
		};
		 
 
				
		$(document).ready(function(){
			$(".like").click(function()
			{
				$(this).set_vote(1);
			});
		});
		$(document).ready(function(){
			$(".dislike").click(function()
			{
				$(this).set_vote(-1);
			});
		});		
		
		jQuery.fn.show_my_votes = function(data) {
			var result = jQuery.parseJSON(data);
      			//console.debug("I like: "+result.likes);
        		//console.debug("I dislike: "+result.dislikes);
        		var ilike = result.likes
        		var idislike = result.dislikes
        		if(ilike !="")
        			$("#ilike").html("<p>I LIKE : "+ilike +"</p>");
        		if (idislike !="")
        			$("#idislike").html("<p> I DISLIKE : "+idislike+"</p>");
		};
 
		$(document).ready(function(){
		$(".close").live("click",function(){
    		 var id=$(this).attr("value");
    		 //console.debug("id is: "+id)
    		 $("#stats_"+id).slideUp("fast");
		});
	});

	$(document).ready(function(){
		$(".viewstats").live("click",function(event){
			event.preventDefault();      
			var id=$(this).attr("value");
			//console.debug("choice_id =  "+id)
			var dataString = {"choice_id": id};
			
			$("#stats_"+id).slideDown("fast").html("Loading....");
			$.ajax
			({
				type: "GET",
				url:  "../getVoteStats/",
				data: dataString,
				cache: false,
				success: function(response)
				{
					var like = response.likes
					var dislike = response.dislikes;
	
					var output =  '<div class="stat-details"><a class="close" data-dismiss="stat-details" value="'+id+'">×</a><b>Rating for this item</b><table border="0" width="100%"><tr><td> Liked by  </td><td class="wordwrap">'+ like+'</td> </tr><tr><td> Disliked by</td> <td class="wordwrap">'+dislike+'</td></tr></table>'
					
					$("#stats_"+id).html(output);
				} 
			 
			});
			//$(this).next(".stats").slideToggle(600);

		});
  	});
			
			
	$(document).ready(function() {
		$.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
			setInterval(function() {
				$('#resultmessage').load('../currentResult/',function(data) {
					var res  =jQuery.parseJSON(data)
  					var place = res.place;
  					var likes = parseInt(res.numlikes);
  					var dislikes = parseInt(res.numdislikes);
  					//console.debug(place,likes,dislikes);
  					if (likes>0)
  					{
  						var msg = "<p> Currently, We are going to " +place+ " because " + likes+ " people liked it </p>"
  						if (dislikes>0)
							msg += "<p>However, "+dislikes+" people disliked it </p>"
						$('#resultmessage').html(msg)
  					}
  					else{
  						var msg = "<p> Currently, We don't know where to go"  
  						if (dislikes>0)
  							msg += "<p>However,"+dislikes+" people don't like "+place+"</p>"
  						$('#resultmessage').html(msg)
  					}
  			})}, 30000); // the "3000" here refers to the time to refresh the div.  it is in milliseconds.
	});
			
		$(document).ready(function() {
				$.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
				setInterval(function() {
			// why .get doesn't work, but load works?
			// the problem for load is that it will display the result directly to html
				$("#getmyvotes").load("../getMyVotes/", function(data) {
       				$(this).show_my_votes(data);
   				})},100000);
		});
		
	$(document).ready(function(){
          $("a.confirm").click(function(e) {
                e.preventDefault();
               // bootbox.confirm("Are you sure?", function(confirmed) {
               //    console.log("Confirmed: "+confirmed);
               var confirmed = true
               if (confirmed)
               {
                  $.ajax
		   ({
			 type: "GET",
			 url:  "../getResult/",
			 data: {},
			 cache: false,
			success: function(data)
			 {
  				var place = data.place;
  				var likes = parseInt(data.numlikes);
  				var dislikes = parseInt(data.numdislikes);
  							//console.debug(place,likes,dislikes);
  				$('#finalChoice').removeAttr('disabled');
				$('#finalChoice').val(place);				 
  				$('#terminationEmail').css('display','block');
			} 
		}); 	 	
               }
             
            });
		 });
		 
		function startspin(){
			var opts = {
  			lines: 13, // The number of lines to draw
  			length: 25, // The length of each line
  			width: 16, // The line thickness
  			radius: 20, // The radius of the inner circle
  			rotate: 30, // The rotation offset
  			color: '#000', // #rgb or #rrggbb
  			speed: 1.2, // Rounds per second
  			trail: 66, // Afterglow percentage
  			shadow: false, // Whether to render a shadow
  			hwaccel: false, // Whether to use hardware acceleration
  			className: 'spinner', // The CSS class to assign to the spinner
  			zIndex: 2e9, // The z-index (defaults to 2000000000)
  			top: 'auto', // Top position relative to parent in px
  			left: 'auto' // Left position relative to parent in px
			};
			var target = document.getElementById('foo');
			var spinner = new Spinner(opts).spin(target);
			return spinner;
		}
		 
		 $(document).ready(function(){
		 	$("#sendoutFinalResult").click(function() {
		 		var finalchoice = $('#finalChoice').val()	 		
		 		bootbox.confirm("Are you sure?", function(confirmed) {
       		 	console.log("Confirmed: "+confirmed);
        		if (confirmed)
       			{
					spin=startspin();
		 			$.ajax
					({
					type: "POST",
					url:  "../terminateEvent/",
					data:  {"finalChoice": finalchoice,csrfmiddlewaretoken:'{{csrf_token}}'},
					cache: false,
					success: function(data)
					{    	 	 
						spin.stop();
						$('.input').attr('disabled','disabled');
				 		$('#finalMessage').html('<div class="alert alert-error"><p>An email with final decision has been sent to your friends, Enjoy!</p></div>') 
						$('.like').attr('disabled', true);
						$('.dislike').attr('disabled', true);
					}
					});
				}
				
		 	});
		 	});
		 });
		 
		 $(document).ready(function(){
     			$.ajax({
				type: "GET",
				url:  "../getAllComments/",
				data:  {},
				cache: false,
				success: function(data)
				{    	 	
				// chrome doesn't take for each... 
				//for each(var comm in data){
					for (var c in data){
						var comm = data[c];
						//console.debug(comm);
						var html = '<li><blockquote><p>'+ comm.say + ' </p><small>  '+ comm.name + ' at ' + comm.date +'</small></blockquote></li>';
				 		$('#show_comment_list').append(html); 
				 	}
				}
				});
    	});
    	
		 	
		 	$(document).ready(function(){
		 		$("#submitComment").click(function() {
		 				var acomment = $("#acomment").val();
						if(acomment=='')
						{
							alert('Please Say Something');
						}
						else
						{
							$("#flash").show();
							$("#flash").fadeIn(400).html('Loading Comment...');
							$.ajax({
									type: "POST",
									url: "../writeComment/",
									data: {'acomment':acomment,csrfmiddlewaretoken:'{{csrf_token}}'},
									cache: false,
									success: function(response){
										var html = ' <li><blockquote><p>'+ response.say + ' </p><small>  '+ response.name + ' at ' + response.date +'</small></blockquote></li>';
				 						$('ul#show_comment_list').append(html);  
										$("ul#show_comment_list li:last").fadeIn("slow");
										$("#flash").hide();
										//clear the input text box
										$("#acomment").val("");
									}
							});
						}return false;
		 		});
		 	});
		 	
	$(document).ready(function() 
	{
		//var efriends = $('#showfriends').val();
		$('#showfriends').live('click',function(){
			var efriends = $('#myfriends').text();
			console.log(efriends);		
			 
			var friends = efriends.split(',');
			var oneLine=8;
			var findx=0;
			var num =friends.length;
		 
			console.log(num)
			if(num>oneLine)
			{
				console.log('more than 8');
				while(findx<=num){
					var friendInALine=""
					if (findx+oneLine > num)
					{friendInALine= friends.slice(findx, num).join(); }
					else
						{friendInALine= friends.slice(findx, findx+oneLine).join();}
					findx+=oneLine;
					console.log(friendInALine);
					$('#friendslist').append('<p class="wordwrap">'+friendInALine+'</p>')
				} 
			}
			else{
				$('#friendslist').html('<p class="wordwrap">'+efriends+'</p>');
			} 
		});
		//can only click once. then disable the button 
		//if friends are shown, then disable the button
		//if ($("#friendlist").text))		
			$('#showfriends').attr("disabled", "disabled");
		
	});
</script>
{% endblock%}
