<!DOCTYPE html>
<html>
    <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta name="Keywords" content="Recommender System, Group, Lunch" />
	<meta name="Description" content=" Group Recommender System, Lunch,Dinner,Movie" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <body>
        <div class="hero-unit">
            <h2>Welcome!</h2>
            <h3>Dear all,</h3>
            <p><font color='#08c'>{{inviter_name}} </font> invites you to the event <font color='#08c'>{{event_name}} </font> </p>
      		<p>Please <a target="_blank" href="{{ link }}">click here</a> to view the detail and provide your opinions.</p>
            <p>Sincerely,</p>
            <p>theGroup</p>
        </div>
    </body>
</html>