<!DOCTYPE html>
<html>
    <head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<meta name="Keywords" content="Recommender System, Group, Lunch" />
	<meta name="Description" content=" Group Recommender System, Lunch,Dinner,Movie" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <body>
        <div class="hero-unit">
            <h3>Dear all,</h3>
            <p>Thanks for your participation. We made our decision for the event <font color='#08c'>{{event.name}} </font>  </p>
	    <p>The event is on <font color='#08c'>{{event.eventDate}}</font> at <font color='#08c'>{{event.location}}</font> </p>
            <p>The majority agreed on <font color='#08c'>{{event.finalChoice}} </font>.</p>
            <p>You can login and check the event summary.</p>
            <p>Have fun!</p>
            <p>Sincerely,</p>
            <p>theGroup</p>
        </div>
    </body>
</html>
