{% extends "myevents/base.html" %}
{% load static %}
{% block title %} Welcome to MyEvents {% endblock %}
{% block extrastyle %}
 	<!-- <link type="text/css" href="{%static "css/master.css"%}" rel="stylesheet" />  -->
 	<link type="text/css" href="{%static "css/tagit/reset.css"%}" rel="stylesheet" />
 		<!-- <link type="text/css" href="{%static "css/tagit/master.css"%}" rel="stylesheet" /> -->
 	<link type="text/css" href="{%static "css/tagit/jquery-ui.autocomplete.css"%}" rel="stylesheet" />
 	<!-- <link type="text/css" href="{%static "css/tagit/example.css"%}" rel="stylesheet" /> -->
	<!-- <link type="text/css" href="{%static "css/jquery-autocomplete.css"%}" rel="stylesheet"/> -->
	<!-- <link type="text/css" href="{%static "css/tagit/jquery.tagit.css"%}" rel="stylesheet"/>
	<link type="text/css" href="{%static "css/Impromptu.css"%}" rel="stylesheet" />-->
 
{% endblock %}
{% block morescript %}
  	<script src="{%static "js/jquery-ui.autocomplete.min.js"%}" type="text/javascript" charset="utf-8"></script>  
	<script src="{%static "js/tag-it.js"%}" type="text/javascript" charset="utf-8"></script>
 	<script src="{%static "js/jquery.scrollTo-min.js"%}" type="text/javascript" charset="utf-8"></script>
	<script src="{%static "js/jquery-ui-timepick-addon.js"%}" type="text/javascript" charset="utf-8"></script> 
	<script src="{%static "js/bootstrap-tab.js"%}" type="text/javascript" charset="utf-8"></script> 
	<script>
		//jQuery.noConflict(); // substituting $ for jQuery
		jQuery(document).ready(function(){
			$('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
		});
		jQuery(document).ready(function(){
			$('#timepicker').timepicker({});
		});
		
		jQuery(document).ready(function(){   
			jQuery("#emails").tagit({itemName: "friendEmail"});
	    });

		
		$(document).ready(function() {
			$('#save_fixed').live('click',function(){
			  var eventDate = $('#datepicker').val()
				if (eventDate==''){
					alert('Date is required! ');
					return false;
				}
				var friendEmails = $("#emails").tagit("assignedTags").toString();
				console.debug(friendEmails);
				if(friendEmails=='')
				{	
					alert(' at least  one email address of your friend is required! ');
					return false;
			 	}
					
				var eventTime = $('#timepicker').val();
				var city = $('#city').val();
				var zipcode = $('#zipcode').val();
	 			var what = [];
	 			 
	 			//console.debug($('#what_movie:checked').val()); 
				if( $('#what_movie').is(':checked') )
				{	var what_movie = $('#what_movie:checked').val();
					what.push(what_movie);
				}
			  //console.debug($('#what_dinner:checked').val()); 
				if( $('#what_dinner').is(':checked') ){
			 		var what_dinner = $('#what_dinner:checked').val();
			 			what.push(what_dinner);
			 		}
				console.debug(what.toString());
 
				var what_other = $('#what_other').val();
				what.push(what_other)
				console.debug(what.toString());
				var values = {'when_date':eventDate,"when_time":eventTime, 'friendEmails':friendEmails, 'what':what.toString(),'zipcode':zipcode,'city':city,csrfmiddlewaretoken:'{{csrf_token}}'}
			 
				$.ajax
				({
						type: "POST",
						url:  "../editEventAttr/",
						data:  values,
						cache: false,
						success: function(response)
						{
							//console.debug(response);
							if(isLastTab()) 
     				 			alert('submitting the event...');
    					else 
     			 				nextTab();  
     			 		}						 
  			}); 
  				
  				//cancel the submit button default behaviors
  				return false;
			});
		});
		
		function nextTab() {
 		 	var e = $('#tab li.active').next().find('a[data-toggle="tab"]');  
 		 	
  		if(e.length > 0) 
  			e.click();  
 			
 			isLastTab();
		}

		function isLastTab() {
  			var e = $('#tab li:last').hasClass('active'); 
  			return e;
		}
		
		$(function() {
			$("#add_manual_choice").click(function(){
				var name =  $("#choice_name").val();
				if (name==' ')
				{
					alert('Name is required.');
					return false;
				}
				var location = $("#choice_location").val();
				var notes = $("#choice_note").val();
				//insert into db
				$.ajax
				({
					type: "POST",
					url:  "../addManualChoice/",
					data: {'name':name,"location":location,"notes":notes,csrfmiddlewaretoken:'{{csrf_token}}'},
					cache: false,
					success: function(response)
					{
            			//console.debug(response);
            			var id = response.choice_id;
            			console.debug(id);
            			var html = '<tr id="show_choice_id_'+id+'"><td>'+name+'</td><td>'+location+'</td><td>'+notes+'</td><td><span class="label label-info remove_choice" id="manual">remove</span></td></tr>';
            			$("#show_choice_list > tbody").append(html);
            			$("#hidden_manual_choice_list").append('<input type="hidden" style="display:none;" value="' +id + '" id="hidden_yelp_choice_id_'+ id+'" name="manual_choice_ids" />');
					} 
				}); 	
			});
		});
		
		$(function() {
			$(".remove_choice").live('click',function(){
				var source_from = $(this).attr('id');
				console.debug(source_from);
				var id = $(this).closest('tr').attr('id');
				console.debug(id);
				
				$(this).parent().parent().remove(); 
				var intids = id.split('_');
				var lastid = intids[intids.length-1]
				console.debug(lastid);
				if (source_from=="manual")
					$('#hidden_manual_choice_id_'+lastid).remove();
				else {
					if(source_from=="yelp")
						$('#hidden_yelp_choice_id_'+lastid).remove();
					}
				return false;
			});
		});
		
	 	$(document).ready(function() {
		 		 console.debug('Poll From Yelp');
				 $.ajax
				 ({
					type: "GET",
					url:  "../getMyYelpChoices/",
					data: {},
					cache: false,
					success: function(response)
					{ 			
						for each (var obj in response){
							//console.debug(obj);
							var choice = obj.fields;
							var id = obj.pk;
							var name = choice.name;
							var notes = "";
							if  (obj.model == "myevents.yelp")
							{
							 	notes = choice.notes;
								url = choice.url;
								model = "yelp"
							    var html = '<tr id="rec_choice_id_'+id+'" name="'+  model +'"><td id="name"><a target="_blank" href="'+url+'"> '+ name+'</a></td><td id="location">'+choice.location+'</td><td id="notes">'+notes+'</td><td><span class="label label-info" id="add_rec_choice">add</span></td></tr>';
							}
     			 		$("#show_rec_choice_list >tbody").append(html);
     				}
     			 }						 
 				});		 
		 });
		
		$(function() {
			$("#add_rec_choice").live('click',function(){
				var id = $(this).closest('tr').attr('id');
				console.debug(id);
				
				var intids = id.split('_');
				var lastid = intids[intids.length-1]
				console.debug(lastid);
				
				var model = $(this).closest('tr').attr('name');
				console.debug('model== '+model);
				//alert(model);
				var $thisrow = $(this).parent().parent();
				console.debug($thisrow.children('#name').text());
				var name = $thisrow.children('#name').text();
				var location=$thisrow.children('#location').text();
				var notes=$thisrow.children('#notes').text();
				var html = '<tr id="rec_choice_id_'+id+'"><td>'+ name+'</td><td>'+ location+'</td><td>'+ notes+'</td><td><span class="label label-info remove_choice" id="'+ model + '">remove</span></td></tr>';
     		console.debug(html);
     		
     		// remove it or not, this is a question
     		$thisrow.remove(); 
     		$("#show_choice_list >tbody").append(html);
     		
     		if (model=="yelp")
					$("#hidden_yelp_choice_list").append('<input type="hidden" style="display:none;" value="' +lastid + '" id="hidden_yelp_choice_id_'+lastid+'" name="yelp_choice_ids" />');

			});
		});
		
		function add_friend_choice (value){
			$("#emails").tagit("createTag", value);
		};
	  
		$(document).ready(function() {
				$('.myfriend').live('click',function(){
						var fname = $(this).text();
						$(this).remove();
						add_friend_choice(fname); 
				});
		
		});
	</script>	
{% endblock%}

{% block content%}


<div class="container">	
	<div class="row-fluid" id="event_builder">
		<h2> Welcome! <font color='#08c'>{{user.name}} </font> </h2>
		<!--<p><span class="add-on"><i class="icon-edit"></i></span> Give us some DETAILS about your event, and provide your friends with a few different CHOICES to pick from. </p> -->
	</div> 
	<br>
	

<br>
<!-- Footer
    ================================================== -->
<footer class="footer ftwraper">
<!--<p class="pull-right"><a href="#">Back to top</a></p> -->
     <p>Designed and built by <a href="http://paloalto.thlab.net/research/recommendations">The Group!</a></p>
</footer>

</div> <!-- /container -->	 
{% endblock%}

