{% extends "myevents/base.html" %}
{% load static %}
{% block title %} Welcome {% endblock %}
{% block extrastyle %}
		<style type="text/css">
			.ftwraper{
				background:  #000; /*#000;*/
				position:fixed;
				bottom:0;
				left:0; 
				width:100%;
				padding:10px,0;
				text-align:center;
			}
		img {
    		 width:100%; /* %100%; */
    		height:auto; /*auto;*/
		}
		</style>
{% endblock %}
{% block morescript %}
   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{%static "js/bootstrap-carousel.js"%}"></script> 
    <!--<script type="text/javascript" src="js/bootstrap-carousel.js"></script>-->
   	<script>
		function validateForm()
		{
			var x=document.forms["signupForm"]["user_email"].value;
			var atpos=x.indexOf("@");
			var dotpos=x.lastIndexOf(".");
			if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
  			{
 				alert("Not a valid e-mail address");
  				return false;
 			 }
 			 
 			var y = $('#user_passwd').value;
 			var z = $('#user_confirm_passwd').value;
 			if(y!=z) 
 			{
 				alert("Password doesn't match!");
 				$('#user_confirm_passwd').focus();
 				return false;
 			}   
 			return true;
		}
		
	</script>
{% endblock %}

{% block content%} 
	<!-- Hello Unit
	================================================== -->
<div class="container">	
    <div class="hero-unit">
    
	<div class="row">
	<div class="span6 offset2">
	<h1>Sign Up</h1>
    <br>	
    <form class="well form-inline" name="signupForm" action = '/myevents/createUser/' method = "post" onsubmit="return validateForm();">
    {% csrf_token %}
    
        <div class="control-group">
          <label class="control-label" for="inputIcon">User Name</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-user"></i></span>
              <input lass="input-xlarge" id="user_name" name="user_name" type="text" autofocus required>
              <span> the name displays on your profile.</span>
            </div>
          </div>
        </div>
    	 <div class="control-group">
          <label class="control-label" for="inputIcon">Email address</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input lass="input-xlarge" id="user_email" name="user_email" type="text" autofocus required>
               <span> must be valid. No spam from us, promise.</span>
            </div>
          </div>
        </div>
    	
    	 <div class="control-group">
          <label class="control-label" for="inputIcon">Password</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-key"></i></span>
              <input lass="input-xlarge" type="password" id="user_passwd" name="user_passwd" type="text"  required>
               <span> at least 6 characters.</span>
            </div>
          </div>
        </div>
        
    	 <div class="control-group">
          <label class="control-label" for="inputIcon">Confirm Password</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-key"></i></span>
                <input lass="input-xlarge"  type="password" id="user_confirm_passwd" name="user_confirm_passwd" type="text"  required>
                <span> must match the above password.</span>
            </div>
          </div>
        </div>
 
    	<button type="submit" class="btn-primary btn-large ">Submit</button>
    </form>
</div>
</div>
</div>
	
    <br>
    <br>
	<!-- Footer
    ================================================== -->
	<footer class="footer  ftwraper">
        <!--<p class="pull-right"><a href="#">Back to top</a></p> -->
        <p>Designed and built by <a href="http://paloalto.thlab.net/research/recommendations">The Group!</a></p>
	</footer>

</div> <!-- /container -->	 
   
{% endblock%}

