{% extends "base.html" %}
{% load static %}
{% block title %} Welcome {% endblock %}
{% block extrastyle %}
{% endblock %}
{% block morescript %}
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{%static "js/bootstrap-carousel.js"%}"></script>
<script>

</script>
 
{% endblock %}

{% block content%} 
<div class="container">	
    <div class="hero-unit">
    <h1>Welcome! {{name}}</h1>
        <form class="well form-inline" name="indexForm" action = '/mymovies/getNames/' method = "post">
            {% csrf_token %}
            <button type="submit" class="btn-primary btn-large">Get Names</button>
         </form>
    </div>
	
   
</div> <!-- /container -->	 
   
{% endblock%}

